* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
 // import//
@import"./partials.scss/variables";
@import"./partials.scss/index";
@import"./partials.scss/navbar";
@import"./partials.scss/contenedor";