// colores
// color fondo texto principal
$color-principal:  white#ffdd90;
// tamaño icono 
$icono:40px;
// color titulo
$color-titulo:#4D96FF;
// gradientes
$grandients1: rgb(2, 0, 36);
$grandients2:  linear-gradient(
    159deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(99, 9, 121, 1) 37%,
    rgba(94, 19, 127, 1) 40%,
    rgba(0, 212, 255, 1) 100%
  );